<p>listado de heroes</p>

<div *ngIf="heroeBorrado !== '';  else noBorrado">
    <h3>Heroe borrado<small> {{heroeBorrado}} </small></h3>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>

<button (click)="borrarHeroe()">
    Borrar
</button>

<ul>
    <!-- creo una variable heroe que hace alusion a cada uno de los items
    del arrelgo heroes del componente heroes.ts y a su vez una variable i para gurdar 
    el valor de cada uno de los indices de cada heroe almacenado en el arreglo-->
    <li *ngFor="let heroe of heroes; let i = index">
    {{i + 1}} {{heroe}}
    </li>
</ul>
